extends layout

include utils

block content
    if errors
            ul(class='sign-up-errors-section')
                each error in errors
                    li(class='sign-up-errors')= error
    h2(id='create-extension-h2') Create An Extension
    div(class='create-extension-section')
            form(action='/extensions/new' method='POST')
                div(class='extension-user-input-fields')
                    input(type="hidden" name="_csrf" value=csrfToken)
                    +field('Extension Name', 'newName', name, 'new-extension-form-group', 'form-control')
                    +field('Description', 'newDescription', description, 'new-extension-form-group', 'form-control', 'text')
                    +field('Icon URL', 'newIconURL', iconURL, 'new-extension-form-group', 'form-control', 'textArea', 'optional')
                    +field('Slogan', 'newSlogan', slogan, 'new-extension-form-group', 'form-control', 'textArea', 'optional')
                div(id='categoriesCheckboxes')
                    each category in categories
                        label(category.name class='categoryText') #{category.name}
                            input(type='checkbox', class='newCategory', name='categoryIds', value=category.id, checked=categoryIds.includes(category.id.toString()))
                div(id='create-extension-btn-section')
                    button.cta-button(type='submit' id='create-extension-submit-btn') Create Extension
                    a.secondary-button.auth-button(href='/') Cancel
