extends layout

include utils.pug

block content
	script(src="/javascripts/apiComments.js" type="module")
	div(id='product-container')
		div(id='product-page-header')
			h1(id='extension-h1')= name
			p(id='description-p')= description
			img(src= iconURL id='extension-icon')
		div(id='product-delete-btn')
			a(class='delete-button' href=`/extensions/${extension.id}}/delete`) Delete
		div(id='product-comment-section')
			form(action="" id='add-comment-form')
				input(type="hidden" name="_csrf" value=csrfToken)#csrfToken
				+field('', 'content', "", 'form-group', 'extension-comment-field', "text", "What do you think of this extension?")
				//- TODO #60 SEND button opens sign-up if not logged in
				if locals.authenticated
					button(type="submit" disabled= false)#create-comment SEND
				else
					button(type="submit" disabled= true)#create-comment SEND
			ul#content-container
				each comment in comments
					li(class='comment-li')
						img(src=comment.User.avatarURL, class='comment-avatar-img')
						h2(class='comment-username')= comment.User.username
						span(class='comment-content')= comment.content
