extends layout

include utils.pug

block content
	script(src="/javascripts/apiComments.js" type="module")
	div
		h1= name
		p= description
		img(src= iconURL)
	//- div
	//- 	a(class='delete-button' href=`/extensions/${extension.id}}/delete`) Delete
	div
		form(action="")#add-comment-form
			input(type="hidden" name="_csrf" value=csrfToken)#csrfToken
			+field('', 'content', "", 'form-group', 'form-control', "text", "What do you think of this extension?")
			//- TODO #60 SEND button opens sign-up if not logged in
			if locals.authenticated
				button(type="submit" disabled= false)#create-comment SEND
			else
				button(type="submit" disabled= true)#create-comment SEND
		ul#content-container
			each comment in comments
				li
					h2 Username Placeholder
					span= comment.content
