extends layout

block content
    div(class='profile-card')
        img(src=profileUser.avatarURL)
        div(class='first-last-name') #{profileUser.firstName} #{profileUser.lastName}
        div(class='bio') #{profileUser.bio}
        div(class='username') #{profileUser.username}
        if profileUser.id === req.session.auth.userId
            a(href=`/profiles/${profileUser.id}/edit`)
                button(class='edit-button' type='button') Edit
    div
        ul
            each name in extensionNames
                li #{name}
