mixin field(labelText, fieldName, fieldValue, divClass, className, fieldType = 'text', placeholder=null)
    div(class=divClass)
        label(for=fieldName)= labelText
        if fieldType === 'textArea'
            textarea(id=fieldName name=fieldName class=className rows='5' placeholder=placeholder)= fieldValue
        else
            input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder class=className)

mixin upvoteButton(extension, userId)
    if userId
        if extension.upvotes.some(upvoter => upvoter.dataValues.id === userId)
            div.rating-container.rating-active.downvote(extensionId=`${extension.id}`)
                span.rating-arrow
                div.upvotes(id=`${extension.id}`) #{extension.upvotes.length}
        else
            div.rating-container.rating-active.upvote(extensionId=`${extension.id}`)
                span.rating-arrow
                div.upvotes(id=`${extension.id}`) #{extension.upvotes.length}
    else
        div.rating-container.rating-inactive.upvote(extensionId=`${extension.id}`)
            span.rating-arrow
            div.upvotes(id=`${extension.id}`) #{extension.upvotes.length}
