
mixin field(labelText, fieldName, fieldValue, divClass, className, fieldType = 'text', placeholder=null)
    div(class=divClass)
        label(for=fieldName)= labelText
        if fieldType === 'textArea'
            textarea(id=fieldName name=fieldName class=className rows='5')= fieldValue
        else
            input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder class=className)

