mixin field(labelText, fieldName, fieldValue, divClass, className, fieldType = 'text', placeholder=null)
    div(class=divClass)
        label(for=fieldName)= labelText
        if fieldType === 'textArea'
            textarea(id=fieldName name=fieldName class=className rows='5' placeholder=placeholder)= fieldValue
        else
            input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder class=className)

mixin upvoteButton(extension, authenticated)
    if authenticated
        //- TODONOW downvote styling
        div.upvote-container.upvote-active(extensionId=`${extension.id}`)
            div.triangle
            div.upvotes(id=`${extension.id}`) #{extension.upvotes.length}
    else
        div.upvote-container.upvote-inactive(extensionId=`${extension.id}`)
            div.triangle
            div.upvotes(id=`${extension.id}`) #{extension.upvotes.length}
